
.form-contact .header h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.form-contact .header h1 {
    font-size: 60px;
    font-weight: bolder;
    color: red;
}



.form-control-contact {
    border-color: white;
    background-color: #1D1C1C;
    padding: 8px;
    border-radius: 0;
    color: grey;
}

    .form-control-contact:focus {
        background-color: white;
        color: black;
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.36);
        border-color: red;
    }

.container .form-contact .button-contact {
    padding: 8px 40px;
    background-color: red;
    border-radius: 0;
    color: white;
}

    .container .form-contact .button-contact:hover {
        background-color: red;
        color: white;
    }
