

/* Mobil telefonlar üçün */


@media (max-width: 425px) and (min-width: 376px) {

    main {
        margin-top: 5%;
    }

    .Accaunt {
        display: block;
        cursor: pointer;
        transform: translate(11px, 0px);
    }

        .Accaunt .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 6px 0;
        }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 60.1px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #272829;
        transition: 0.5s;
        overflow: hidden;
    }

    .dropdown {
        transform: translate(-53px, 0);
    }


    .dropdown-menu {
        top: 45px;
        background-color: rgb(197, 95, 95);
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active {
        height: 270px;
        width: 100%;
    }

    .search-box {
        width: 206px;
        transform: translate(-18px, 0);
    }

    .logoicons img {
        display:none;
    }

    .nav-bar ul li a {
        transform: translate(0, -64px);
    }

    footer{
        width:100%;
    }

    .DisplayType {
        display: none;
    }

    .logoIcon {
        width: 30%;
    }

        .logoIcon img {
            width: 146px;
            transform: translate(89px, 5px);
            height: 40px;
        }

    .Icon {
        width: 70%;
    }

        .Icon li {
            font-size: 21px;
            margin-top: 13px;
            margin-right: 1rem;
        }

    /* Header ve Footer hisse sonu */

    .form-contact .header h1 {
        font-size: 31px;
    }

    .form-contact {
        width: 91%;
        height: auto;
        margin: 98px auto;
    }


    /* Contact hisse sonu */


    .Filtir {
        transform: translate(-104px, -7px);
    }

    .input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
        padding: 2px;
        font-size: 15px;
    }

    .card-container {
        justify-content: center !important;
        margin-bottom: 0;
    }

    .moviePageDropdown {
        transform: translate(96px, 0) !important;
    }

    .pagination {
        margin-top: 0 !important;
        transform: translate(0, 56px);
    }

        .pagination > li > a {
            font-size: 22px;
            padding: 3px;
        }

    /*  Movies hisse sonu */

    video {
        margin-top: 4rem !important;
        width: 221% !important;
        height: auto !important;
    }


    .PMovies {
        transform: translate(-34px,0);
    }

    .MoviesP> p{
        width:878px!important;
    }
    .BMovies button {
        transform: scale(1.3) !important;
        margin: 0 25px 0 30px !important
    }

    .RelatedMovies {
        width: 221% !important;
        margin-top: 4rem !important;
        margin-left: 14px;
    }

    .images,
    .images .featured,
    .images .movies,
    .images .shows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .featured > img,
    .image > .img-div {
        width: 220px;
        height: 280px;
    }

    #image {
        width: 166px !important;
        height: 279px !important;
    }

    .img-div > h4 {
        font-size: 15px !important;
        transform: translate(0px, -11px);
    }

    .img-div > p {
        font-size: 14px !important;
        transform: translate(0px, -17px);
    }

    .icon-container {
        transform: scale(1) !important;
        right: 6px !important;
        width: 40px;
        height: 130px;
        top: -130px;
        right: 0;
        font-size: 25px;
    }
}

@media (max-width: 375px) and (min-width: 319px) {
    main {
        margin-top: 5%;
    }

    .Accaunt {
        display: block;
        cursor: pointer;
        transform: translate(-12px, 0px);
    }

        .Accaunt .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 6px 0;
        }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 60.1px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #272829;
        transition: 0.5s;
        overflow: hidden;
    }

    .dropdown {
        transform: translate(-53px, 0);
    }


    .dropdown-menu {
        top: 45px;
        background-color: rgb(197, 95, 95);
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active {
        height: 270px;
        width: 100%;
    }

    .search-box {
        width: 206px;
        transform: translate(-28px, 0);
    }

    .logoicons img {
        display: none;
    }

    .nav-bar ul li a {
        transform: translate(0, -64px);
    }

    footer {
        width: 100%;
    }

    .DisplayType {
        display: none;
    }

    .logoIcon {
        width: 30%;
    }

        .logoIcon img {
            width: 146px;
            transform: translate(80px, 5px);
            height: 31px;
        }

    .Icon {
        width: 70%;
    }

        .Icon li {
            font-size: 16px;
            margin-top: 13px;
            margin-right: 1rem;
        }

    /* Header ve Footer hisse sonu */

    .form-contact .header h1 {
        font-size: 31px;
    }

    .form-contact {
        width:91%;
        height:auto;
        margin: 98px auto;
    }

     .button-contact {
        padding: 8px 40px;
        background-color: red;
        border-radius: 0;
        color: white;
    }

        .button-contact:hover {
            background-color: red;
            color: white;
        }
    /* Contact hisse sonu */

    .Filtir {
        transform: translate(-104px, -7px);
    }

    .input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
        padding: 2px;
        font-size: 15px;
    }

    .card-container {
        justify-content: center !important;
        margin-bottom: 0;
    }

    .moviePageDropdown {
        transform: translate(96px, 0) !important;
    }

    .pagination {
        margin-top: 0 !important;
        transform: translate(0, 56px);
    }

        .pagination > li > a {
            font-size: 22px;
            padding: 3px;
        }

    /*  Movies hisse sonu */

    video {
        margin-top: 4rem !important;
        width: 242% !important;
        height: auto !important;
    }


    .PMovies {
        transform: translate(-53px,0);
    }

    .MoviesP > p {
        width: 878px !important;
    }

    .BMovies button {
        transform: scale(1.3) !important;
        margin: 0 25px 0 30px !important
    }

    .RelatedMovies {
        width: 247% !important;
        margin-top: 4rem !important;
        margin-left: 14px;
    }

    .images,
    .images .featured,
    .images .movies,
    .images .shows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .featured > img,
    .image > .img-div {
        width: 220px;
        height: 280px;
    }

    #image {
        width: 166px !important;
        height: 279px !important;
    }

    .img-div > h4 {
        font-size: 15px !important;
        transform: translate(0px, -11px);
    }

    .img-div > p {
        font-size: 14px !important;
        transform: translate(0px, -17px);
    }

    .icon-container {
        transform: scale(1) !important;
        right: -6px !important;
        width: 40px;
        height: 130px;
        top: -130px;
        right: 0;
        font-size: 25px;
    }

    /* Play Movies hisse sonu */

}

@media (max-width: 320px) {
    main {
        margin-top: 5%;
    }

    .Accaunt {
        display: block;
        cursor: pointer;
        transform: translate(11px, 0px);
    }

        .Accaunt .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 6px 0;
        }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 60.1px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #272829;
        transition: 0.5s;
        overflow: hidden;
    }

    .dropdown {
        transform: translate(-53px, 0);
    }


    .dropdown-menu {
        top: 45px;
        background-color: rgb(197, 95, 95);
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active {
        height: 270px;
        width: 100%;
    }

    .search-box {
        width: 206px;
        transform: translate(-18px, 0);
    }

    .logoicons img {
        display: none;
    }

    .nav-bar ul li a {
        transform: translate(0, -64px);
    }

    footer {
        width: 100%;
    }

    .DisplayType {
        display: none;
    }

    .logoIcon {
        width: 30%;
    }

        .logoIcon img {
            width: 146px;
            transform: translate(89px, 5px);
            height: 40px;
        }

    .Icon {
        width: 70%;
    }

        .Icon li {
            font-size: 21px;
            margin-top: 13px;
            margin-right: 1rem;
        }

    /* Header ve Footer hisse sonu */

    .form-contact .header h1 {
        font-size: 40px;
    }

    .form-contact {
        width: 100%;
        margin: 184px 55px;
    }

    /* Contact hisse sonu */

    .Filtir {
        transform: translate(-104px, -7px);
    }

    .input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
        padding: 2px;
        font-size: 15px;
    }

    .card-container {
        justify-content: center !important;
        margin-bottom: 0;
    }

    .moviePageDropdown {
        transform: translate(96px, 0) !important;
    }

    .pagination {
        margin-top: 0 !important;
        transform: translate(0, 56px);
    }

        .pagination > li > a {
            font-size: 22px;
            padding: 3px;
        }

    /*  Movies hisse sonu */

    video {
        margin-top: 4rem !important;
        width: 280% !important;
        height: auto !important;
    }


    .PMovies {
        transform: translate(-60px,0);
    }

    .MoviesP > p {
        width: 878px !important;
    }

    .BMovies button {
        transform: scale(1.3) !important;
        margin: 0 25px 0 30px !important
    }

    .RelatedMovies {
        width: 290% !important;
        margin-top: 4rem !important;
        margin-left: 14px;
    }

    .images,
    .images .featured,
    .images .movies,
    .images .shows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .featured > img,
    .image > .img-div {
        width: 220px;
        height: 280px;
    }

    #image {
        width: 166px !important;
        height: 279px !important;
    }

    .img-div > h4 {
        font-size: 15px !important;
        transform: translate(0px, -11px);
    }

    .img-div > p {
        font-size: 14px !important;
        transform: translate(0px, -17px);
    }

    .icon-container {
        transform: scale(1) !important;
        right: -6px !important;
        width: 51px;
        height: 145px;
        top: -130px;
        right: 0;
        font-size: 25px;
    }
    /* Play Movies hisse sonu */
}
/* Tablet üçün */
@media (max-width: 768px) and (min-width: 426px) {

    main {
        margin-top: 5%;
    }

    .Accaunt {
        display: block;
        cursor: pointer;
        transform: translate(33px, 0);
    }

        .Accaunt .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 6px 0;
        }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 60.1px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #272829;
        transition: 0.5s;
        overflow: hidden;
    }

    .dropdown {
        transform: translate(-53px, 0);
    }


    .dropdown-menu {
        top: 45px;
        background-color: rgb(197, 95, 95);
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active {
        height: 270px;
        width: 100%;
    }

    .search-box {
        width: 220px;
        transform: translate(-8px, 0);
    }

    .logoicons img {
        display:none;
    }

    .nav-bar ul li a {
        transform: translate(0, -64px);
    }

    footer {
        width: 100%;
    }

    .DisplayType {
        display: none;
    }

    .logoIcon {
        width: 30%;
    }

        .logoIcon img {
            width: 161px;
            transform: translate(102px, 8px);
            height: 40px;
        }

    .Icon {
        width: 70%;
    }

        .Icon li {
            font-size: 27px;
            margin-top: 13px;
            margin-right: 1rem;
        }


    /* Header ve Footer hisse sonu */

    .moviePageDropdown {
         transform: translate(0, 0);
    }

    .form-contact .header h1 {
        font-size: 40px;
    }
    .form-contact {
        width: 91%;
        margin: 73px 20px;
        height: auto;
    }

    /* Contact hisse sonu */

    .Filtir {
        margin-left: 13px;
    }

    .card-container {
        justify-content: center !important;
        margin-bottom: 0!important;
    }

    .pagination {
        margin-top: 40px;
        margin-bottom: 0;
        transform: translate(0, 51px);
    }

    .pagination > li > a{
        font-size:21px;
    }


    /* Play Movies hisse sonu */
    video {
        margin-top: 2rem !important;
        width: 132% !important;
        height: auto !important;
    }


    .PMovies{
        transform:translate(-34px,0);
    }

    .BMovies button {
        transform: scale(1.3) !important;
        margin: 0 25px 0 30px !important
    }

    .RelatedMovies {
        width:139%!important;
        margin-top: 4rem!important;
    }
    .images,
    .images .featured,
    .images .movies,
    .images .shows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .featured > img,
    .image > .img-div {
        width: 220px;
        height: 280px;
    }

    #image {
        width: 166px !important;
        height: 279px !important;
    }

    .img-div > h4 {
        font-size: 15px !important;
        transform: translate(0px, -11px);
    }

    .img-div > p {
        font-size: 14px !important;
        transform: translate(0px, -17px);
    }

    .icon-container {
        transform: scale(1) !important;
        right: 6px !important;
        width: 40px;
        height: 130px;
        top: -130px;
        right: 0;
        font-size: 25px;
    }
}

/* Orta ölçülü ekranlar üçün (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {


    .logoicons img {
        width: 120px;
        height: 30px;
    }

    .search-box {
        width: 206px;
        height: 44px;
        margin-left: 68px;
    }

    header {
        padding: 0 10px;
    }

    .nav-bar ul li a {
        font-size: 14px;
        padding: 9px 5px;
        margin-top: 10px;
    }

    .dropdown {
        transform: translate(29px,0);
    }

    footer {
        transform: translate(0, 64px);
    }

    .logoIcon {
        margin-right: 33px;
    }

        .logoIcon img {
            margin-right: 0;
        }

    .Icon  {
        width:100%;
    }

 
    /* Header ve Footer hisse sonu */
    .form-contact .header h1 {
        font-size: 40px;
    }

    /* Contact hisse sonu */

    .card-container {
        margin-bottom: 0;
    }

    .Filtir {
        transform: translate(-30px, 0);
    }

    .pagination {
         margin-top: 0; 
        margin-bottom: 0;
    }

    /* Play Movies hisse sonu */

    video {
        height: 465px!important;
    }

    .PMovies {
        transform: translate(-37px,0);
    }
    .BMovies {
        width: 100%;
    }

        .BMovies button {
            transform: scale(1.3) !important;
            margin: 0 25px 0 30px !important
        }

    .images,
    .images .featured,
    .images .movies,
    .images .shows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .featured > img,
    .image > .img-div {
        width: 220px;
        height: 280px;
    }

    #image {
        width: 166px!important;
        height: 279px!important;
    }

    .img-div > h4 {
        font-size: 15px !important;
        transform: translate(0px, -11px);
    }

    .img-div > p {
        font-size: 14px !important;
        transform: translate(0px, -17px);
    }
}

/* Böyük Ekranlar üçün */
@media (min-width: 1442px) and (max-width: 2560px) {
    .logoicons img {
        width: 135px;
        height: 46px;
    }

    .search-box {
        width: 43%;
        height: 44px;
    }


    .DisplayType {
        width: 33%;
        transform: translate(-158px, -5px);
    }

        .DisplayType h4 {
            font-size: 24px;
        }

        .DisplayType ul li a {
            font-size: 19px;
        }

    .Icon {
        display: flex;
        justify-content: center;
        width: 33%;
    }

        .Icon li {
            font-size: 44px;
            margin-right: 8rem;
        }

    .logoIcon {
        margin-right: 126px;
    }

        .logoIcon img {
            width: 259px;
            height: 60px;
        }

    /* Header ve Footer hisse sonu */

    .form-contact {
        width: 51%;
    }

        .form-contact .header h1 {
            font-size: 72px;
        }

    .form-control-contact {
        padding: 34px;
    }

    .form-contact > div > label{
        font-size:30px;
    }

    /* Contact hisse sonu */



    /* Play Movies hisse sonu */

    video {
        margin-top: 6rem!important;
        height: auto!important;
    }

    .PMovies {
        transform: translate(-37px,0);
    }


    .BMovies {
        width: 100%;
    }

        .BMovies button {
            transform: scale(1.3) !important;
            margin: 0 25px 0 30px !important
        }

}
